body,html {
  padding: 0;
  margin: 0;
  background-color: rgb(181, 198, 211);
  width:100%

}

#map1 {
  width: 800px;
  height: 500px;
}


.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 50%;
  width: 80%;
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
}

.navigation .navbar-brand{
	color: white; 
	margin-left: 50px; 
	padding:10px; 
	font-weight: bold; 
	background-color: #be705c;
    font-family: Georgia, Times, "Times New Roman", serif;
    position:inherit;
    z-index:1 ;
}

.navbar{
  max-height: 52px; 
background-color:white; 
  font-size: 15px; 
  position: inherit;
  z-index: 0;
}
#navbarNavDropdown{
  position: inherit;
  z-index: 2;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;

}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 10px;
  position: relative;
  left: 1240px;
  top:80px;
  width: 200px;
  height:600px;
}


div.content {
  background-color: white;
  padding: 15pt;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  width: fit-content;
  box-sizing: 100%;
  position: relative;
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

div.footer{
  background-color: rgb(45, 48, 49);
  color: white;
  text-align: center;
  bottom:400px;
  padding-top: 0px;
  margin-bottom: 0px;
}

#choro{
  position: relative;
  bottom: 550px;
  left:300px;
}

#marker{
  position: relative;
  bottom: 550px;
  left:300px;
}


#Titlep{
  position: relative;
  bottom: 550px;
  left:400px;
  background-color: white;
  width: 750px;
  padding: 10px;
}

#selection{
  position: inherit;
  bottom:1196px;
  left:150px;
  border: 5px;
  border-color: black;
  background-color: white;
  width: 200px;
  height: 100px;
  padding: 10px;
}
.well{
  position: relative;
  bottom:1250px;
  left:100px;
  border: 5px;
  border-color: black;

}
.btn{
  background-color: black;
}

.img{
  align-content: center;
}

.well{
  width:155px;
  padding-left: 20px;
  padding-top: 15px;
  height:100px;
  text-align: left;
  background-color: white;
}

@media (max-width: 991px){
  .navigation .navbar-brand{
    color: white;
    max-height: 40px;
    margin-left: 0px;
    position: relative;
    right:200px
}


.navbar{
    max-height: 50px; 
}
}

