{% extends "layout.html" %}
{% block scripts %}
<!-- The div where we will inject our map -->
<!-- left -->
        <div class="content">
            <h2>2015 Police Killings</h2>
            <hr>
            <div id="map1" class='leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag'
                style='position: relative;'>
            </div>
            <p>insert short caption here </p>
            <hr>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/makeMarker.js') }}"></script>
{% endblock %}
